*{
	padding:0;
	margin:0;
}
body{
	background: url("../../images/fondoPolicia.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}
@media only screen and (max-width: 767px){
	body{
		background-image: url("../../images/fondoPolicia.jpg");
	}
}
.navbar div.encabezado{
	border: 2px solid white;
	border-radius: 13px;
}
nav.navbar{
	background: rgba(0,0,0,0.3);
}