*{
	padding:0;
	margin:0;
}
body{
	background: url("../../images/fondoPolicia.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}
@media only screen and (max-width: 767px){
	body{
		background-image: url("../../images/fondoPolicia.jpg");
	}
}
.navbar div.encabezado{
	border: 2px solid white;
	border-radius: 13px;
}
nav.navbar{
	background: rgba(0,0,0,0.3);
	border: none;
}
nav.navbar .navbar-nav{
	background: #323738;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}
.phone img{
	width: 450px;
	height: 250px;
	border-radius: 20px;
}
img.imagenPortada{
	width: 100%;
	max-height: 300px;
	border-radius: 20px;
}
.menuInfo .list-group-item{
	padding:20px 40px;
	background: #000;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}
.menuInfo .list-group-item:hover{
	background: #5E5E61;
	color: #42FFFA;
}
h3.tituloPrincipal{
	color: #fff;
	font-weight: bold;
}
div.descripcion{
	padding: 15px 0px;
	border: #fff solid 2px;
	border-radius: 10px;
	margin-bottom: 20px;
}
.imagenDescripcion img{
	padding: 0px 10px;
	padding-bottom: 30px;
}
img.iconoHome{
	width: 70px;
}
.parrafo p{
	color: #fff;
	font-size: 13px;
}